﻿@model fridaymvc.Sale
@{
    ViewBag.Title = "BuyStock";
}

<h2>Buy Stocks</h2>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

<form method="post">
    <div>
        <label for="@nameof(Model.StockID)">StockID</label>
        <select name="@nameof(Model.StockID)">
            @foreach(Stock stock in ViewBag.Stocks)
            {
                <option value="@stock.StockID">@stock.StockName</option>
            }
        </select>
    </div>

    <div>
        <label for="@nameof(Model.CustomerID)">CustomerID</label>
        <select name="@nameof(Model.CustomerID)">
            @foreach (Customer customer in ViewBag.Customers)
            {
                <option value="@customer.CustomerID">@customer.FirstName @customer.LastName @string.Format("<{0}>", customer.Email)</option>
            }
        </select>
    </div>

    <div>
        <label for="@nameof(Model.Quantity)">Quantity</label>
        <input name="@nameof(Model.Quantity)" value="@Model.Quantity" />
    </div>

    <div>
        <input type="submit" />
    </div>
</form>


