﻿@model fridaymvc.Customer

@{
    ViewBag.Title = "CreateCustomer";
}

<h2>Create Customer</h2>
@if(ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
<form method="post">
    <div>
        <label for="@nameof(Model.FirstName)">First Name</label>
        <input name="@nameof(Model.FirstName)" value="@Model.FirstName" />
    </div>

    <div>
        <label for="@nameof(Model.LastName)">Last Name</label>
        <input name="@nameof(Model.LastName)" value="@Model.LastName" />
    </div>

    <div>
        <label for="@nameof(Model.Email)">Email</label>
        <input name="@nameof(Model.Email)" value="@Model.Email" />
    </div>

    <div>
        <input type="submit" />
    </div>
</form>