﻿
@{
    ViewBag.Title = "TransactionsOfCustomer";
    var s = ViewBag.salesByCustIDList as List<usp_getSalesByCustomerID_Result>;
}


<h2>Transactions Of Customer </h2>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Stock Name</th>
            <th>Quantity</th>
            <th>Current Price</th>
            <th>Total Amount ($)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in s)
        {
            <tr>
                <td>@item.StockName</td>
                <td>@item.Quantity</td>
                <td>@item.CurrentPrice</td>
                <td>@item.TotalSpent</td>
            </tr>
        }
    </tbody>
</table>