﻿
@{
    ViewBag.Title = "Index";
    var t = ViewBag.transactionList as List<vw_transaction_list>;
}

<h2>Table of Stock Transactions</h2>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Stock Name</th>
            <th>CustomerID</th>
            <th>Quantity</th>
            <th>Current Price</th>
            <th>Total Amount ($)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in t)
        {
            <tr>
                <td>@item.Stockname</td>
                <td><a href="/Home/GetSalesByCustID/@item.Customerid">@item.Customerid</a></td>
                <td>@item.Quantity</td>
                <td>@item.CurrentPrice</td>
                <td>@item.TotalAmount</td>
            </tr>
        }
    </tbody>
</table>


